# Project exclude paths
/.idea/
/.gradle/
/app/build/
/app/release/
/lib_ffmpegcmd/.cxx/
/lib_ffmpegcmd/build/
/lib_ffmpegcmd_v4.4_audio/.cxx/
/lib_ffmpegcmd_v4.4_audio/build/
/lib_ffmpegcmd_v4.4_full/.cxx/
/lib_ffmpegcmd_v4.4_full/build/